example.json
[{"id":"cbadb553.77da78","type":"inject","z":"27a28622.ed2b1a","name":"","topic":"","payload":"spez","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["b6ea0174.ce64c"]]},{"id":"d0d5ac5b.80d27","type":"debug","z":"27a28622.ed2b1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":180,"wires":[]},{"id":"b6ea0174.ce64c","type":"node-reddit","z":"27a28622.ed2b1a","name":"","reddit":"","x":300,"y":200,"wires":[["d0d5ac5b.80d27"]]}]
