flows/bot.json
[{"id":"a2dc2d18.2108a","type":"stream","z":"717e9472.87918c","name":"","reddit":"","kind":"submissions","subreddit":"testingground4bots","filter":"inbox","markedAsRead":false,"timeout":"","x":150,"y":140,"wires":[["389c877a.80ce08"]]},{"id":"389c877a.80ce08","type":"function","z":"717e9472.87918c","name":"check for \"OSU\"","func":"if (msg.payload.selftext.indexOf(\"OSU\") != -1) {\n    return msg;\n}","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["245a6f92.6c7db","de4c3eaa.39bec"]]},{"id":"245a6f92.6c7db","type":"react","z":"717e9472.87918c","name":"upvote!","reddit":"","content_type":"submission","content_id":"{{payload.id}}","vote":"upvote","save":"none","gild":"","report":"","x":670,"y":100,"wires":[]},{"id":"de4c3eaa.39bec","type":"reply","z":"717e9472.87918c","name":"","reddit":"","content_type":"submission","content_id":"{{payload.id}}","text":"BEAVER DAM NATION","x":670,"y":220,"wires":[["1de8653d.8b371b"]]},{"id":"c4f4a0a3.7faae","type":"comment","z":"717e9472.87918c","name":"go beavers...","info":"","x":670,"y":160,"wires":[]},{"id":"411ffdf9.ca14c4","type":"inject","z":"717e9472.87918c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["a3716f92.44552"]]},{"id":"a3716f92.44552","type":"create","z":"717e9472.87918c","name":"","reddit":"","submissionType":"self","subreddit":"testingground4bots","title":"Final test","url":"","text":"Oregon State is the real OSU","original":"","recipient":"","subject":"","message":"","x":400,"y":340,"wires":[["832e4c87.a6513"]]},{"id":"832e4c87.a6513","type":"debug","z":"717e9472.87918c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":340,"wires":[]},{"id":"1de8653d.8b371b","type":"debug","z":"717e9472.87918c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":220,"wires":[]}]
