flows/midpoint.json
[{"id":"7aa00a9.9ae2cf4","type":"tab","label":"Stream","disabled":false,"info":""},{"id":"7b12160a.2d3268","type":"tab","label":"Get-content","disabled":false,"info":""},{"id":"217009f0.95ca06","type":"tab","label":"Edit Comment","disabled":false,"info":""},{"id":"43c63dea.b8eff4","type":"tab","label":"dashboard","disabled":false,"info":""},{"id":"2ad5a68d.30154a","type":"tab","label":"Instructor's Flow","disabled":false,"info":""},{"id":"6a08bc9.dbc7f44","type":"reddit-credentials","z":"","username":"node_reddit_verified","user_agent":"v0.0.1","auth_type":"username_password","name":""},{"id":"b6a802e0.03e5a","type":"ui_tab","z":"","name":"/r/pics","icon":"dashboard","disabled":false,"hidden":false},{"id":"1715163d.cf82da","type":"ui_group","z":"","name":"Streaming submissions","tab":"b6a802e0.03e5a","disp":true,"width":"14","collapse":false},{"id":"b207fa57.115938","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8329be99.885d8","type":"ui_group","z":"","name":"Refresh hot every hour","tab":"c7bebe22.dbdd1","order":1,"disp":true,"width":"14","collapse":false},{"id":"c7bebe22.dbdd1","type":"ui_tab","z":"","name":"/r/OSUOnlineCS","icon":"dashboard","disabled":false,"hidden":false},{"id":"fc71d39b.b7a04","type":"stream","z":"7aa00a9.9ae2cf4","name":"","reddit":"6a08bc9.dbc7f44","kind":"submissions","subreddit":"pics","timeout":"","x":95,"y":75,"wires":[["42fc146c.ef4d2c","2a2aff79.b90f6"]]},{"id":"42fc146c.ef4d2c","type":"debug","z":"7aa00a9.9ae2cf4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":626.0000038146973,"y":41,"wires":[]},{"id":"2a2aff79.b90f6","type":"link out","z":"7aa00a9.9ae2cf4","name":"pics","links":["7ae9fa92.113084"],"x":575,"y":80,"wires":[]},{"id":"7ae9fa92.113084","type":"link in","z":"43c63dea.b8eff4","name":"","links":["2a2aff79.b90f6"],"x":155,"y":120,"wires":[["8c30b16e.5bee5","cdd228c4.126b78"]]},{"id":"8c30b16e.5bee5","type":"ui_text","z":"43c63dea.b8eff4","group":"1715163d.cf82da","order":0,"width":0,"height":0,"name":"","label":"","format":"","layout":"col-center","x":475,"y":120,"wires":[]},{"id":"cdd228c4.126b78","type":"ui_template","z":"43c63dea.b8eff4","group":"1715163d.cf82da","name":"","order":1,"width":"14","height":"9","format":"<h3 style=\"text-align:center\">{{msg.payload.title}}</h3>\n\n<div style=\"text-align:center\">\n    <img height=\"400em\" width=\"auto\" src=\"{{msg.payload.url}}\"/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":470,"y":170,"wires":[[]]},{"id":"c85c0d6c.0d3a6","type":"get content","z":"7b12160a.2d3268","name":"","reddit":"6a08bc9.dbc7f44","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","subreddit":"OSUOnlineCS","user":"node_reddit","limit":"10","sort":"hot","time":"hour","fetch_all":"false","submission":"","depth":"","content_id":"","x":330,"y":80,"wires":[["43eb89b6.ba1b48"]]},{"id":"4a9ed7f4.568b28","type":"inject","z":"7b12160a.2d3268","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["c85c0d6c.0d3a6"]]},{"id":"fc0e63a7.17fe2","type":"link out","z":"7b12160a.2d3268","name":"OSUOnlineCS","links":["c6f113e2.69588"],"x":775,"y":80,"wires":[]},{"id":"43eb89b6.ba1b48","type":"join","z":"7b12160a.2d3268","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":80,"wires":[["fc0e63a7.17fe2"]]},{"id":"c6f113e2.69588","type":"link in","z":"43c63dea.b8eff4","name":"","links":["fc0e63a7.17fe2"],"x":155,"y":260,"wires":[["d3d3006f.19ec2"]]},{"id":"d3d3006f.19ec2","type":"ui_template","z":"43c63dea.b8eff4","group":"8329be99.885d8","name":"","order":1,"width":"14","height":"9","format":"<table id=\"table\" border=\"1\">\n <tr>\n <th>Hot</th> \n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td class=\"numeric\">{{row.title}}</td>\n </tr>\n </tbody>\n</table>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":330,"y":260,"wires":[[]]},{"id":"89af4fde.8e319","type":"comment","z":"7aa00a9.9ae2cf4","name":"Stream submissions from /r/pics","info":"","x":155,"y":35,"wires":[]},{"id":"ed075b2d.ca1af8","type":"comment","z":"7b12160a.2d3268","name":"Get top 10 hot posts from /r/OSUOnlineCS","info":"","x":205,"y":40,"wires":[]},{"id":"bc0a9bf1.a51888","type":"inject","z":"7b12160a.2d3268","name":"","topic":"","payload":"{\"subreddit\":\"OSUOnlineCS\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["13a666ba.d6a9b9"]]},{"id":"13a666ba.d6a9b9","type":"get content","z":"7b12160a.2d3268","name":"get one submission","reddit":"6a08bc9.dbc7f44","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","subreddit":"{{payload.subreddit}}","user":"node_reddit","limit":"1","sort":"top","time":"hour","fetch_all":"false","submission":"","depth":"","content_id":"","x":350,"y":280,"wires":[["55a77091.aa1b9"]]},{"id":"55a77091.aa1b9","type":"get content","z":"7b12160a.2d3268","name":"get full comment tree","reddit":"6a08bc9.dbc7f44","content_type":"comment","submission_source":"subreddit","comment_source":"submission","subreddit":"{{payload.subreddit}}","user":"node_reddit","limit":"","sort":"rising","time":"hour","fetch_all":"true","submission":"","depth":"","content_id":"{{payload.id}}","x":580,"y":280,"wires":[["1d867efc.b29291","9d9c2142.7586e"]]},{"id":"1d867efc.b29291","type":"debug","z":"7b12160a.2d3268","name":"print parent comments","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":920,"y":280,"wires":[]},{"id":"a8b68c7b.517a6","type":"debug","z":"7b12160a.2d3268","name":"print children comments","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":390,"wires":[]},{"id":"15662ff5.e958e","type":"comment","z":"2ad5a68d.30154a","name":"A blank canvas for experimenting","info":"","x":175,"y":40,"wires":[]},{"id":"d2cc9d32.b34c2","type":"comment","z":"2ad5a68d.30154a","name":"Note: You can copy/paste our nodes from other flows","info":"","x":235,"y":125,"wires":[]},{"id":"f31ed0d4.a3466","type":"comment","z":"43c63dea.b8eff4","name":"Front end stuff","info":"","x":205,"y":20,"wires":[]},{"id":"67f359f2.01c2a8","type":"comment","z":"43c63dea.b8eff4","name":"URL: https://node-reddit-demo.eu-gb.mybluemix.net/ui/#!/0","info":"","x":345,"y":75,"wires":[]},{"id":"6d930fcf.0c662","type":"comment","z":"7b12160a.2d3268","name":"Get an entire comment tree from a single submission","info":"","x":230,"y":230,"wires":[]},{"id":"e17d1f90.cd728","type":"switch","z":"7b12160a.2d3268","name":"if msg.payload.replies.length > 0","property":"payload.replies","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":715,"y":505,"wires":[["9d9c2142.7586e"]]},{"id":"5d6794ee.dacd1c","type":"stream","z":"7aa00a9.9ae2cf4","name":"","reddit":"6a08bc9.dbc7f44","kind":"submissions","subreddit":"testingground4bots","timeout":"","x":120,"y":280,"wires":[["326f5d3f.48c142"]]},{"id":"326f5d3f.48c142","type":"function","z":"7aa00a9.9ae2cf4","name":"check for \"OSU\"","func":"if (msg.payload.selftext.indexOf(\"OSU\") !== -1) {\n    return msg;\n}","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["76d7b7f1.d59ec8","5443c89.9fa3738"]]},{"id":"5fdb333b.a2352c","type":"comment","z":"7aa00a9.9ae2cf4","name":"stream submissions from /r/testingground4bots","info":"","x":200,"y":240,"wires":[]},{"id":"5443c89.9fa3738","type":"reddit-react","z":"7aa00a9.9ae2cf4","name":"upvote!","reddit":"6a08bc9.dbc7f44","content_type":"submission","content_id":"{{payload.id}}","vote":"upvote","save":"","gild":"","report":"","x":580,"y":220,"wires":[["eb66662d.1d49b8"]]},{"id":"76d7b7f1.d59ec8","type":"reply","z":"7aa00a9.9ae2cf4","name":"auto reply","reddit":"6a08bc9.dbc7f44","content_type":"submission","content_id":"{{payload.id}}","text":"BEAVER DAM NATION","x":580,"y":340,"wires":[["eb66662d.1d49b8"]]},{"id":"eb66662d.1d49b8","type":"debug","z":"7aa00a9.9ae2cf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":280,"wires":[]},{"id":"265e4630.41d59a","type":"comment","z":"7aa00a9.9ae2cf4","name":"go beavers...","info":"","x":570,"y":280,"wires":[]},{"id":"a5104679.b668c8","type":"inject","z":"7aa00a9.9ae2cf4","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["e650afb5.9b24b"]]},{"id":"e650afb5.9b24b","type":"create-submission","z":"7aa00a9.9ae2cf4","name":"","reddit":"6a08bc9.dbc7f44","submissionType":"self","subreddit":"testingground4bots","title":"Node-Reddit Mid-Point Demo","url":"","text":"Oregon State is the real OSU.","original":"","x":280,"y":440,"wires":[["391f69a7.07e1e6"]]},{"id":"391f69a7.07e1e6","type":"debug","z":"7aa00a9.9ae2cf4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":440,"wires":[]},{"id":"a443b7dd.0f0d08","type":"comment","z":"7aa00a9.9ae2cf4","name":"submit a post to trigger the automatic response","info":"","x":200,"y":400,"wires":[]},{"id":"7aef201f.3333","type":"get content","z":"217009f0.95ca06","name":"get my last comment","reddit":"6a08bc9.dbc7f44","content_type":"comment","submission_source":"subreddit","comment_source":"user","subreddit":"","user":"node_reddit_verified","limit":"1","sort":"hot","time":"hour","fetch_all":"false","submission":"","depth":"","content_id":"","x":300,"y":70,"wires":[["342b77f2.4cb588"]]},{"id":"b6044130.90e3d","type":"inject","z":"217009f0.95ca06","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":70,"wires":[["7aef201f.3333"]]},{"id":"342b77f2.4cb588","type":"reddit-edit","z":"217009f0.95ca06","name":"","reddit":"6a08bc9.dbc7f44","content_type":"comment","edit_content":"Node-edit","content_id":"{{payload.id}}","x":495,"y":70,"wires":[["3924eb76.de1464"]]},{"id":"3924eb76.de1464","type":"debug","z":"217009f0.95ca06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":645,"y":70,"wires":[]},{"id":"24c16a3.ea2d196","type":"comment","z":"217009f0.95ca06","name":"Edit last comment","info":"","x":135,"y":30,"wires":[]},{"id":"e9fe1d53.bb042","type":"comment","z":"7b12160a.2d3268","name":"Loop through all nested children comments","info":"","x":860,"y":340,"wires":[]},{"id":"6a04eea3.d10a3","type":"comment","z":"7b12160a.2d3268","name":"send to dashboard flow","info":"","x":800,"y":40,"wires":[]},{"id":"5070224.60156dc","type":"comment","z":"7aa00a9.9ae2cf4","name":"send to dashboard flow","info":"","x":660,"y":120,"wires":[]},{"id":"9d9c2142.7586e","type":"function","z":"7b12160a.2d3268","name":"split children comments","func":"// msg.payload.replies is an array of objects\n// this send the objects one by one\nreturn [msg.payload.replies]","outputs":1,"noerr":0,"x":710,"y":390,"wires":[["e17d1f90.cd728","a8b68c7b.517a6"]]},{"id":"4f87ff9b.ad246","type":"inject","z":"2ad5a68d.30154a","name":"inject payload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":200,"wires":[["2fd3d66b.ff4e4a"]]},{"id":"2fd3d66b.ff4e4a","type":"debug","z":"2ad5a68d.30154a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":445,"y":200,"wires":[]},{"id":"751d69e9.3805d8","type":"comment","z":"2ad5a68d.30154a","name":"Note: Feel free to use the node_reddit_verified account. Credentials are already set up","info":"","x":345,"y":80,"wires":[]}]
