flows/nba.json
[{"id":"3d2659a7.9521d6","type":"sentiment","z":"d35b2d65.e9ac4","name":"","property":"payload.body","x":200,"y":200,"wires":[["515e338.760a1cc","d8531d84.0a3ca","6c6b38ef.299a98"]]},{"id":"515e338.760a1cc","type":"function","z":"d35b2d65.e9ac4","name":"split words","func":"var words = msg.sentiment.tokens\n\nvar returnArr = []\n\nfor (var i = 0; i < words.length; i++) {\n    if (words[i].length > 5) {\n        returnArr.push({\"payload\": words[i].toLowerCase()})\n    }\n}\n\nreturn [returnArr]","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["64dc0cba.7a7854"]]},{"id":"64dc0cba.7a7854","type":"function","z":"d35b2d65.e9ac4","name":"words[msg.payload]++","func":"if (!global.get(\"comments\")){\n    global.set(\"comments\", {})\n}\n\nvar words = global.get(\"comments\")\n\nif (!words[msg.payload]) {\n    words[msg.payload] = 0\n}\n\nwords[msg.payload]++\n\nmsg.topic = msg.payload\nmsg.payload = words[msg.topic]\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["1312281d.ed8af8"]]},{"id":"65987809.3db678","type":"inject","z":"d35b2d65.e9ac4","name":"reset","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":480,"wires":[["6541b4c8.a63fcc"]]},{"id":"6541b4c8.a63fcc","type":"function","z":"d35b2d65.e9ac4","name":"clear frequencies, reset threshold","func":"flow.set(\"threshold\", 1)\nglobal.set(\"comments\", {})\n\nvar start = new Date()\nvar time = start.getHours() - 5 + \":\" + start.getMinutes()\n\nnode.status({fill:\"green\",shape:\"dot\",text:time})\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":480,"wires":[[]]},{"id":"69f330d2.ec059","type":"ui_chart","z":"d35b2d65.e9ac4","name":"","group":"fa3f798b.39e748","order":0,"width":0,"height":0,"label":"most commented words","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1090,"y":200,"wires":[["4e7726e9.741408"],[]]},{"id":"53e54ebf.5bb47","type":"function","z":"d35b2d65.e9ac4","name":"reset chart and double threshold","func":"var data = []\nvar labels = []\n\nvar threshold = flow.get(\"threshold\") \nthreshold = threshold * 2\nflow.set(\"threshold\", threshold)\n\nfor (var i = 0; i < msg.payload[0].data[0].length; i++) {\n    if (msg.payload[0].data[0][i] >= threshold) {\n        data.push(msg.payload[0].data[0][i])\n        labels.push(msg.payload[0].labels[i])\n    }\n}\n\nmsg.payload[0].data[0] = data\nmsg.payload[0].labels = labels\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":280,"wires":[["69f330d2.ec059"]]},{"id":"4e7726e9.741408","type":"switch","z":"d35b2d65.e9ac4","name":"data.length > 20 ","property":"payload[0].labels.length","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1340,"y":200,"wires":[["53e54ebf.5bb47"]]},{"id":"1312281d.ed8af8","type":"function","z":"d35b2d65.e9ac4","name":"if freq > threshold","func":"if (!flow.get(\"threshold\")) {\n    flow.set(\"threshold\", 1)\n}\n\nif (msg.payload >= flow.get(\"threshold\") && msg.topic != \"length\") {\n    return msg;\n}","outputs":1,"noerr":0,"x":830,"y":200,"wires":[["69f330d2.ec059"]]},{"id":"ab07eb0.a00d518","type":"ui_chart","z":"d35b2d65.e9ac4","name":"","group":"ab85b23.a67705","order":0,"width":"15","height":"5","label":"sentiment history","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":690,"y":120,"wires":[[],[]]},{"id":"d8531d84.0a3ca","type":"function","z":"d35b2d65.e9ac4","name":"setup score","func":"msg.payload = msg.sentiment.score\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":120,"wires":[["ab07eb0.a00d518"]]},{"id":"c3732a23.5ccd68","type":"ui_chart","z":"d35b2d65.e9ac4","name":"","group":"ab85b23.a67705","order":0,"width":"15","height":"5","label":"comment history","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":620,"y":320,"wires":[["4cb93d20.9d9fd4","1ec3376c.1b2549"],[]]},{"id":"6c6b38ef.299a98","type":"function","z":"d35b2d65.e9ac4","name":"setup score, topic","func":"msg.topic = msg.payload.body.slice(0, 100)\nmsg.payload = msg.sentiment.score\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["c3732a23.5ccd68"]]},{"id":"8e449643.2b6198","type":"stream","z":"d35b2d65.e9ac4","name":"","reddit":"","kind":"comments","subreddit":"nba","filter":"inbox","markedAsRead":false,"timeout":"","x":60,"y":200,"wires":[["3d2659a7.9521d6"]]},{"id":"bb54fab3.3af558","type":"ui_gauge","z":"d35b2d65.e9ac4","name":"","group":"4dc16f7b.3ea9b","order":0,"width":0,"height":0,"gtype":"gage","title":"current sentiment","label":"units","format":"{{value}}","min":"-5","max":"5","colors":["#ce3d31","#e6e600","#35e61c"],"seg1":"","seg2":"","x":1070,"y":400,"wires":[]},{"id":"4cb93d20.9d9fd4","type":"switch","z":"d35b2d65.e9ac4","name":"","property":"payload[0].series.length","propertyType":"msg","rules":[{"t":"gt","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":320,"wires":[["e7e6aba6.a62618"]]},{"id":"e7e6aba6.a62618","type":"function","z":"d35b2d65.e9ac4","name":"reset chart","func":"var data = [];\nvar series = [];\n\nvar now = new Date().getTime();\n\nfor (var i = 0; i < msg.payload[0].data.length; i++){\n    if (msg.payload[0].data[i].length > 0 && now - msg.payload[0].data[i][0].x <= 120000){\n        data.push(msg.payload[0].data[i])\n        series.push(msg.payload[0].series[i])\n    }\n}\n\nmsg.payload[0].data = data;\nmsg.payload[0].series = series; \n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":400,"wires":[["c3732a23.5ccd68"]]},{"id":"1ec3376c.1b2549","type":"function","z":"d35b2d65.e9ac4","name":"calculate avg score","func":"var total = 0; \n\nfor (var i = 0; i < msg.payload[0].data.length; i++) {\n    if (msg.payload[0].data[i] && msg.payload[0].data[i][0]) {\n        total += msg.payload[0].data[i][0].y\n    }\n}\nvar avg = total / msg.payload[0].data.length; \nmsg.payload = Math.floor(avg * 100) / 100\n\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":400,"wires":[["bb54fab3.3af558"]]},{"id":"fa3f798b.39e748","type":"ui_group","z":"","name":"Pie chart","tab":"a38e65ca.4b5608","disp":true,"width":"8","collapse":false},{"id":"ab85b23.a67705","type":"ui_group","z":"","name":"Line chart","tab":"a38e65ca.4b5608","disp":true,"width":"15","collapse":false},{"id":"4dc16f7b.3ea9b","type":"ui_group","z":"","name":"Gauge","tab":"a38e65ca.4b5608","disp":true,"width":"8","collapse":false},{"id":"a38e65ca.4b5608","type":"ui_tab","z":"","name":"/r/nba","icon":"dashboard"}]
