flows/nba.json
[{"id":"a6104f8f.6d39e","type":"stream","z":"f5860506.59f3e8","name":"","reddit":"","kind":"comments","subreddit":"nba","filter":"inbox","markedAsRead":false,"timeout":"","x":110,"y":120,"wires":[["25c6b884.0f86a8"]]},{"id":"25c6b884.0f86a8","type":"sentiment","z":"f5860506.59f3e8","name":"","property":"payload.body","x":300,"y":120,"wires":[["697c59d5.ec6218","4e34c71a.214e18","c831618b.1b3a"]]},{"id":"697c59d5.ec6218","type":"function","z":"f5860506.59f3e8","name":"split words","func":"var words = msg.sentiment.tokens\n\nvar returnArr = []\n\nfor (var i = 0; i < words.length; i++) {\n    if (words[i].length > 5) {\n        returnArr.push({\"payload\": words[i].toLowerCase()})\n    }\n}\n\nreturn [returnArr]","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["b51841f3.8ff58"]]},{"id":"b51841f3.8ff58","type":"function","z":"f5860506.59f3e8","name":"words[msg.payload]++","func":"var words = global.get(\"comments\")\n\nif (!words[msg.payload]) {\n    words[msg.payload] = 0\n}\n\nwords[msg.payload]++\n\nmsg.topic = msg.payload\nmsg.payload = words[msg.topic]\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["3f618f67.ed2fe"]]},{"id":"5512ff91.9376c","type":"inject","z":"f5860506.59f3e8","name":"reset","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["be5d2419.1a0168"]]},{"id":"be5d2419.1a0168","type":"function","z":"f5860506.59f3e8","name":"clear frequencies, reset threshold","func":"flow.set(\"threshold\", 1)\nglobal.set(\"comments\", {})\n\nvar start = new Date()\nvar time = start.getHours() - 5 + \":\" + start.getMinutes()\n\nnode.status({fill:\"green\",shape:\"dot\",text:time})\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":360,"wires":[[]]},{"id":"82ccd6cd.334ea8","type":"ui_chart","z":"f5860506.59f3e8","name":"","group":"cab6c20b.e5367","order":0,"width":0,"height":0,"label":"most commented words","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1090,"y":260,"wires":[["281001d.74211fe"],[]]},{"id":"8e7681b9.2f261","type":"function","z":"f5860506.59f3e8","name":"reset chart and double threshold","func":"var data = []\nvar labels = []\n\nvar threshold = flow.get(\"threshold\") \nthreshold = threshold * 2\nflow.set(\"threshold\", threshold)\n\nfor (var i = 0; i < msg.payload[0].data[0].length; i++) {\n    if (msg.payload[0].data[0][i] >= threshold) {\n        data.push(msg.payload[0].data[0][i])\n        labels.push(msg.payload[0].labels[i])\n    }\n}\n\nmsg.payload[0].data[0] = data\nmsg.payload[0].labels = labels\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":340,"wires":[["82ccd6cd.334ea8"]]},{"id":"281001d.74211fe","type":"switch","z":"f5860506.59f3e8","name":"data.length > 20 ","property":"payload[0].labels.length","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1340,"y":260,"wires":[["8e7681b9.2f261"]]},{"id":"3f618f67.ed2fe","type":"function","z":"f5860506.59f3e8","name":"if freq > threshold","func":"if (!flow.get(\"threshold\")) {\n    flow.set(\"threshold\", 1)\n}\n\nif (msg.payload >= flow.get(\"threshold\") && msg.topic != \"length\") {\n    return msg;\n}","outputs":1,"noerr":0,"x":830,"y":260,"wires":[["82ccd6cd.334ea8"]]},{"id":"85103ffc.4097c","type":"ui_chart","z":"f5860506.59f3e8","name":"","group":"4f5abfa1.8b064","order":0,"width":"15","height":"5","label":"sentiment history","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":910,"y":40,"wires":[[],[]]},{"id":"4e34c71a.214e18","type":"function","z":"f5860506.59f3e8","name":"setup score","func":"msg.payload = msg.sentiment.score\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":40,"wires":[["85103ffc.4097c","dd39482c.5e7148"]]},{"id":"dd39482c.5e7148","type":"ui_gauge","z":"f5860506.59f3e8","name":"","group":"9a167159.bea28","order":0,"width":0,"height":0,"gtype":"gage","title":"current sentiment","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#ce3d31","#e6e600","#35e61c"],"seg1":"","seg2":"","x":910,"y":80,"wires":[]},{"id":"d0799a87.183e68","type":"ui_chart","z":"f5860506.59f3e8","name":"","group":"4f5abfa1.8b064","order":0,"width":"15","height":"5","label":"comment history","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":900,"y":160,"wires":[[],[]]},{"id":"c831618b.1b3a","type":"function","z":"f5860506.59f3e8","name":"setup score, topic","func":"msg.topic = msg.payload.body.slice(0, 100)\nmsg.payload = msg.sentiment.score\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["d0799a87.183e68"]]},{"id":"cab6c20b.e5367","type":"ui_group","z":"","name":"Pie chart","tab":"bae80281.7f74d","disp":true,"width":"8","collapse":false},{"id":"4f5abfa1.8b064","type":"ui_group","z":"","name":"Line chart","tab":"bae80281.7f74d","disp":true,"width":"15","collapse":false},{"id":"9a167159.bea28","type":"ui_group","z":"","name":"Gauge","tab":"bae80281.7f74d","disp":true,"width":"8","collapse":false},{"id":"bae80281.7f74d","type":"ui_tab","z":"","name":"/r/nba","icon":"dashboard","disabled":false,"hidden":false}]
