flows/osu-website.json
[{"id":"fef5ed7c.e71bc","type":"http in","z":"c7336b77.e68868","name":"","url":"/OSUOnlineCS","method":"get","upload":false,"swaggerDoc":"","x":145,"y":275,"wires":[["123fc944.ee39a7"]]},{"id":"123fc944.ee39a7","type":"get","z":"c7336b77.e68868","name":"","reddit":"","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","subreddit":"OSUOnlineCS","user":"node_reddit","limit":"10","sort":"hot","time":"hour","fetch_all":"false","submission":"","depth":"","content_id":"","x":375,"y":275,"wires":[["e5e68173.b4786"]]},{"id":"4e144946.6e21e8","type":"http response","z":"c7336b77.e68868","name":"","statusCode":"","headers":{},"x":865,"y":275,"wires":[]},{"id":"e5e68173.b4786","type":"join","z":"c7336b77.e68868","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":545,"y":275,"wires":[["b1a18434.f491f8"]]},{"id":"b1a18434.f491f8","type":"template","z":"c7336b77.e68868","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head><link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n</head>\n\n<table class=\"table\">\n    <thead>\n        <tr style=\"background: whitesmoke\">\n            <th scope=\"col\">votes</th>\n            <th scope=\"col\">title</th>\n            <th scope=\"col\">author</th>\n        </tr>\n    </thead>\n    <tbody>\n        {{#payload}}\n            <tr scope=\"row\">\n                <td>{{score}}</td>\n                <td><a href=\"{{url}}\" target=\"_blank\">{{title}}</a></td>\n                <td><a href=\"https://reddit.com/u/{{author}}\" target=\"_blank\">{{author}}</a></td>\n            </tr>\n        {{/payload}}\n\n    </tbody>\n    \n</table>\n\n<style>\n    tr:nth-child(even) {background: whitesmoke};\n    tr:nth-child(odd) {background: #FFF};\n</style>\n\n","output":"str","x":695,"y":275,"wires":[["4e144946.6e21e8"]]}]
