flows/osu-website.json
[{"id":"5f2c857c.fe9dec","type":"http in","z":"c7336b77.e68868","name":"","url":"/subreddit","method":"get","upload":false,"swaggerDoc":"","x":145,"y":370,"wires":[["90af2f7e.68dd"]]},{"id":"4fab08fc.2da1e8","type":"http response","z":"c7336b77.e68868","name":"","statusCode":"","headers":{},"x":875,"y":370,"wires":[]},{"id":"1ddf18c5.904c87","type":"template","z":"c7336b77.e68868","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head><link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n</head>\n\n<form onSubmit='submitQuery(event);' style=\"width:30%\">\n  <div class=\"input-group\">\n    <input class=\"form-control\" id=\"subreddit\" placeholder=\"Enter subreddit\">\n    <span class=\"input-group-btn\">\n        <button style=\"margin-left: 10%\" type=\"submit\" class=\"btn btn-primary\">Submit</button>\n    </span>\n  </div>\n</form>\n\n<table class=\"table\">\n    <thead>\n        <tr style=\"background: whitesmoke\">\n            <th scope=\"col\">votes</th>\n            <th scope=\"col\">title</th>\n            <th scope=\"col\">author</th>\n        </tr>\n    </thead>\n    <tbody>\n        {{#payload}}\n            <tr class=\"rows\" scope=\"row\">\n                <td>{{score}}</td>\n                <td><a href=\"{{url}}\" target=\"_blank\">{{title}}</a></td>\n                <td><a href=\"https://reddit.com/u/{{author}}\" target=\"_blank\">{{author}}</a></td>\n            </tr>\n        {{/payload}}\n    </tbody>\n</table>\n\n<style>\n    tr:nth-child(even) {background: whitesmoke};\n    tr:nth-child(odd) {background: #FFF};\n</style>\n\n<script>\n    async function submitQuery(event) {\n        event.preventDefault();\n        var body = {\"subreddit\": document.getElementById(\"subreddit\").value}\n        var response = await fetch(\"https://node-reddit-demo.eu-gb.mybluemix.net/subreddit\", {\n            \"method\": \"POST\",\n            \"body\": JSON.stringify(body)\n            }\n        )\n        var data = await response.json()\n        addDataToTable(data);\n        \n        return false;\n    }\n    \n    function addDataToTable(data) {\n        var rows = document.getElementsByClassName(\"rows\");\n        console.log(data);\n        for (var i = 0; i < rows.length; i++) {\n            var cells = rows[i].cells;\n            cells[0].innerText = data[i].score;\n            cells[1].firstChild.innerText = data[i].title;\n            cells[1].firstChild.href = data[i].url;\n            cells[2].firstChild.innerText = data[i].author;\n            cells[2].firstChild.href +=  data[i].author;\n        }\n    }\n    \n</script>","output":"str","x":630,"y":370,"wires":[["4fab08fc.2da1e8"]]},{"id":"90af2f7e.68dd","type":"function","z":"c7336b77.e68868","name":"placeholder rows","func":"msg.payload = []\n\nfor (var i = 0; i < 10; i++) {\n    msg.payload.push({\"title\": \"\", \"votes\": \"\", \"author\": \"\"})\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":370,"wires":[["1ddf18c5.904c87"]]},{"id":"649e133c.0a288c","type":"http in","z":"c7336b77.e68868","name":"","url":"/subreddit","method":"post","upload":false,"swaggerDoc":"","x":145,"y":435,"wires":[["a2a06e44.dcb55"]]},{"id":"a2a06e44.dcb55","type":"json","z":"c7336b77.e68868","name":"","property":"payload","action":"","pretty":false,"x":320,"y":435,"wires":[["f0e36592.52a808"]]},{"id":"f0e36592.52a808","type":"get","z":"c7336b77.e68868","name":"","reddit":"","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","subreddit":"{{payload.subreddit}}","user":"node_reddit","limit":"10","sort":"hot","time":"hour","fetch_all":"false","submission":"","depth":"","content_id":"","x":495,"y":435,"wires":[["582e3ac2.89b744"]]},{"id":"582e3ac2.89b744","type":"join","z":"c7336b77.e68868","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":675,"y":435,"wires":[["9e0e8bc0.c8f928"]]},{"id":"9e0e8bc0.c8f928","type":"http response","z":"c7336b77.e68868","name":"","statusCode":"","headers":{},"x":875,"y":435,"wires":[]}]
