flows/osu-website.json
[{"id":"660ea5b4.4d5ccc","type":"http in","z":"46bf11d5.5f89d","name":"","url":"/subreddit","method":"get","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["be585162.d5d9e"]]},{"id":"58f2a935.0dea08","type":"http response","z":"46bf11d5.5f89d","name":"","statusCode":"","headers":{},"x":870,"y":100,"wires":[]},{"id":"57e0e6d2.e20988","type":"template","z":"46bf11d5.5f89d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head><link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n</head>\n\n<form onSubmit='submitQuery(event);' style=\"width:30%\">\n  <div class=\"input-group\">\n    <input class=\"form-control\" id=\"subreddit\" placeholder=\"Enter subreddit\">\n    <span class=\"input-group-btn\">\n        <button style=\"margin-left: 10%\" type=\"submit\" class=\"btn btn-primary\">Submit</button>\n    </span>\n  </div>\n</form>\n\n<table class=\"table\">\n    <thead>\n        <tr style=\"background: whitesmoke\">\n            <th scope=\"col\">votes</th>\n            <th scope=\"col\">title</th>\n            <th scope=\"col\">author</th>\n        </tr>\n    </thead>\n    <tbody>\n        {{#payload}}\n            <tr class=\"rows\" scope=\"row\">\n                <td>{{score}}</td>\n                <td><a href=\"{{url}}\" target=\"_blank\">{{title}}</a></td>\n                <td><a href=\"https://reddit.com/u/{{author}}\" target=\"_blank\">{{author}}</a></td>\n            </tr>\n        {{/payload}}\n    </tbody>\n</table>\n\n<style>\n    tr:nth-child(even) {background: whitesmoke};\n    tr:nth-child(odd) {background: #FFF};\n</style>\n\n<script>\n    async function submitQuery(event) {\n        event.preventDefault();\n        var body = {\"subreddit\": document.getElementById(\"subreddit\").value}\n        var response = await fetch(\"/subreddit\", {\n            \"method\": \"POST\",\n            \"body\": JSON.stringify(body)\n            }\n        )\n        var data = await response.json()\n        addDataToTable(data);\n        \n        return false;\n    }\n    \n    function addDataToTable(data) {\n        var rows = document.getElementsByClassName(\"rows\");\n        console.log(data);\n        for (var i = 0; i < rows.length; i++) {\n            var cells = rows[i].cells;\n            cells[0].innerText = data[i].score;\n            cells[1].firstChild.innerText = data[i].title;\n            cells[1].firstChild.href = data[i].url;\n            cells[2].firstChild.innerText = data[i].author;\n            cells[2].firstChild.href +=  data[i].author;\n        }\n    }\n    \n</script>","output":"str","x":625,"y":100,"wires":[["58f2a935.0dea08"]]},{"id":"be585162.d5d9e","type":"function","z":"46bf11d5.5f89d","name":"placeholder rows","func":"msg.payload = []\n\nfor (var i = 0; i < 10; i++) {\n    msg.payload.push({\"title\": \"\", \"votes\": \"\", \"author\": \"\"})\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":355,"y":100,"wires":[["57e0e6d2.e20988"]]},{"id":"2796359d.36577a","type":"http in","z":"46bf11d5.5f89d","name":"","url":"/subreddit","method":"post","upload":false,"swaggerDoc":"","x":140,"y":165,"wires":[["2c94c56b.89462a"]]},{"id":"2c94c56b.89462a","type":"json","z":"46bf11d5.5f89d","name":"","property":"payload","action":"","pretty":false,"x":315,"y":165,"wires":[["a7c06959.dd77d8"]]},{"id":"a7c06959.dd77d8","type":"get","z":"46bf11d5.5f89d","name":"","reddit":"","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","subreddit":"{{payload.subreddit}}","user":"node_reddit","limit":"10","sort":"hot","time":"hour","fetch_all":"false","submission":"","depth":"","content_id":"","x":490,"y":165,"wires":[["7fcd39e9.b3d378"]]},{"id":"7fcd39e9.b3d378","type":"join","z":"46bf11d5.5f89d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":165,"wires":[["17593d9f.90a922"]]},{"id":"17593d9f.90a922","type":"http response","z":"46bf11d5.5f89d","name":"","statusCode":"","headers":{},"x":870,"y":165,"wires":[]}]
