flows/osu.json
[{"id":"b76eddcf.250fb","type":"ui_ui_control","z":"c7336b77.e68868","name":"","x":120,"y":160,"wires":[["945c6383.781f3"]]},{"id":"945c6383.781f3","type":"function","z":"c7336b77.e68868","name":"on change","func":"if (msg.payload == \"change\" && msg.name == \"/r/OSUOnlineCS\") {\n    return msg;\n}","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["e336ad57.a1ef2"]]},{"id":"e336ad57.a1ef2","type":"get","z":"c7336b77.e68868","name":"","reddit":"","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","subreddit":"OSUOnlineCS","user":"node_reddit","limit":"10","sort":"hot","time":"hour","fetch_all":"false","submission":"","depth":"","content_id":"","x":500,"y":160,"wires":[["f53c9311.bdcab"]]},{"id":"a7eb3cc2.7be72","type":"ui_template","z":"c7336b77.e68868","group":"61552d24.cdb0a4","name":"table","order":1,"width":"12","height":"12","format":"<table class=\"table\">\n <tr>\n <th scope=\"col\">Votes</th>\n <th scope=\"col\">Submissions</th> \n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n    <td>{{row.ups}}</td>\n <td><a href=\"{{row.url}}\" target=\"_blank\">{{row.title}}</a></td>\n </tr>\n </tbody>\n</table>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":850,"y":160,"wires":[[]]},{"id":"f53c9311.bdcab","type":"join","z":"c7336b77.e68868","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":160,"wires":[["a7eb3cc2.7be72"]]},{"id":"d902e5bf.88aff8","type":"ui_template","z":"c7336b77.e68868","group":"61552d24.cdb0a4","name":"import bootstrap","order":1,"width":0,"height":0,"format":"<link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":700,"y":100,"wires":[[]]},{"id":"61552d24.cdb0a4","type":"ui_group","z":"","name":"hot","tab":"28a21d13.16c7e2","order":1,"disp":true,"width":"12","collapse":false},{"id":"28a21d13.16c7e2","type":"ui_tab","z":"","name":"/r/OSUOnlineCS","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
