flows/overwrite-comments.json
[{"id":"77952425.f3142c","type":"get","z":"6931ad4.6437554","name":"get all my comments","reddit":"","content_type":"comment","submission_source":"subreddit","comment_source":"user","subreddit":"","user":"Enter user here!","limit":"1","sort":"hot","time":"hour","fetch_all":"true","submission":"","depth":"","content_id":"","x":320,"y":180,"wires":[["b89300f1.5b601"]]},{"id":"6c26fce9.52e704","type":"inject","z":"6931ad4.6437554","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["77952425.f3142c"]]},{"id":"3a5e2867.49f768","type":"comment","z":"6931ad4.6437554","name":"Overwrite and delete all comments for privacy concerns","info":"","x":240,"y":80,"wires":[]},{"id":"b89300f1.5b601","type":"edit","z":"6931ad4.6437554","name":"","reddit":"","content_type":"comment","edit_content":"Overwrite text here!","content_id":"{{payload.id}}","x":540,"y":180,"wires":[["fff83ad2.294df8"]]},{"id":"fff83ad2.294df8","type":"delete","z":"6931ad4.6437554","name":"","reddit":"","content_type":"comment","content_id":"{{payload.id}}","x":730,"y":180,"wires":[]},{"id":"e1bedb2a.0c77e8","type":"comment","z":"6931ad4.6437554","name":"WARNING: This cannot be undone","info":"","x":180,"y":120,"wires":[]}]
